:root {
  --color-black: #232321;
  --color-white: #E8E0D3;
  --color-red: #B1291D;
  --color-blue: #2461A6;


  --font-size-16-20: clamp(1rem, 0.9144rem + 0.3653vw, 1.25rem);
  --font-size-20-28: clamp(1.25rem, 1.0788rem + 0.7306vw, 1.75rem);
  --font-size-24-32: clamp(1.5rem, 1.3288rem + 0.7306vw, 2rem);
  --font-size-28-40: clamp(1.75rem, 1.4932rem + 1.0959vw, 2.5rem);
  --font-size-32-48: clamp(2rem, 1.6575rem + 1.4612vw, 3rem);
  --font-size-32-56: clamp(2rem, 1.4863rem + 2.1918vw, 3.5rem);
  --font-size-36-48: clamp(2.25rem, 1.9932rem + 1.0959vw, 3rem);
  --font-size-72-144: clamp(4.5rem, 2.9589rem + 6.5753vw, 9rem);
}

@font-face {
  font-family: "Archivo";
  src: url(/font/archivo/archivo-black.woff2);
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.footer {
  background-color: #C05F59;
  padding: 2.5rem clamp(1rem, -0.3699rem + 5.8447vw, 5rem);

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: var(--font-size-16-20);
  line-height: 150%;
  color: var(--color-black);
}

.bold {
  font-weight: bold;
}

.phone-button {
  z-index: 999;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;

  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  background-color: var(--color-blue);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;

  box-shadow: 0 0 4px var(--color-black);
  border-style: none;
  padding: 0rem;
}

.phone-button__progress,
.phone-button__hider,
.phone-button__icon {
  grid-row: 1;
  grid-column: 1;
}

.phone-button__progress {
  border-radius: 5rem;
}

.phone-button__hider {
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 5rem;
  background-color: var(--color-blue);
}

.no-scroll {
  overflow: hidden;
}

.nav{
  width: 100vw;
  height: 100vh;
  background-color: rgba(35, 35, 33, 0.5);

  position: fixed;
  z-index: 900;
}

.nav__list {
  z-index: 1000;
  position: relative;
  width: 100vw;

  background-color: var(--color-black);

  display: flex;
  flex-direction: column;
}

.nav__item {
  background-color: var(--color-black);
  border-style: none none solid none;
  border-width: 2px;
  border-color: #343433;
}

.nav__item--my-beginning {
  display: flex;
  justify-content: space-between;
}

.nav__item--my-beginning button {
  background-color: #343433;
  border-style: none;
  padding: 0 0.6rem;
}

.nav__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1.5rem;
  width: 100%;
}

.nav__link p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  color: var(--color-white);
}

.nav__active .nav__lock-locked{
  fill-opacity: 0;
}

.nav__active:hover p {
  color: var(--color-red);
}

.nav__active:hover .nav__lock-open {
  fill: var(--color-red);
}

.nav__locked{
  pointer-events: none;
}

.nav__locked .nav__lock-open {
  fill-opacity: 0;
}

.nav__locked p {
  color: var(--color-white);
  opacity: 75%;
}

@media (max-width: 1159px) {

  .header__bottom,
  .header__tickets,
  .header__logo {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

@media (min-width: 1160px) {

  .phone-button,
  .nav__item--my-beginning button {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .header {
    position: fixed;
    z-index: 999;
    width: 100vw;
    top: 0px;
    transition: top 0.5s ease-out;
  }

  .header__container {
    position: relative;
    z-index: 998;

    background-color: var(--color-black);
    box-shadow: 0 0 8px var(--color-black);

    display: flex;
    justify-content: space-between;

    padding: 0.75rem;
    padding-right: clamp(2rem, -9.2258rem + 15.4839vw, 5rem);
  }

  .nav {
    width: auto;
    height: auto;
    background-color: transparent;
    position: relative;
  }

  .header__logo {
    height: 3.75rem;
    width: auto;
  }

  .header__links {
    display: flex;
    align-items: center;
  }

  .nav__list {
    width: max-content;
    z-index: 1;
    position: relative;

    background-color: transparent;

    display: flex;
    flex-direction: row;
  }

  .nav__item {
    background-color: transparent;
    border-style: none;
  }

  .button__solid {
    font-family: Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-white);

    background-color: var(--color-red);
    padding: 0.75rem 1rem;
    padding-top: 0.85rem;
  }

  .button__solid:hover {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  .header__bottom {
    position: relative;

    display: grid;

    z-index: 999;
  }

  .desktop-progress {
    grid-column: 1;
    grid-row: 1;

    background-color: var(--color-blue);
    height: 5px;
    width: 0%;
  }

  .desktop-button {
    grid-column: 1;
    grid-row: 1;
    position: relative;

    background-color: transparent;
    border: none;

    margin-top: -0.1rem;
    margin-left: auto;
    margin-right: clamp(2rem, -9.2258rem + 15.4839vw, 5rem);

    padding-inline: 0;
  }

  .desktop-button:hover .desktop-button__arrow {
    fill: var(--color-black);
  }
}



/* HERO */

.hero {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr 1fr 2fr;

  overflow-x: hidden;
  overflow-y: hidden;

  height: 100dvh;
  width: 100vw;
}

.hero__plate {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.hero__plate img{
  width: clamp(52rem, 38.6071rem + 57.1429vw, 80rem); 

  margin-top: -2rem;
  margin-left: -1rem;
}

.hero__flies {
  grid-column: 1;
  grid-row: 1 / span 2;

  max-width: 10.625rem;

  margin-top: -1rem;
  margin-left: -1rem;
}

.hero__title {
  grid-column: 1 / span 2;
  grid-row: 3;

  width: clamp(18.125rem, 11.8322rem + 26.8493vw, 36.5rem);
  height: clamp(7.375rem, 5.042rem + 9.9543vw, 14.1875rem);

  margin-left: auto;
  margin-right: clamp(0rem, -5.7398rem + 24.4898vw, 12rem);
  margin-top: clamp(-4rem, 1.9133rem + -8.1633vw, 0rem);
}

.hero__text {
  grid-column: 1 / span 2;
  grid-row: 4;

  max-width: clamp(20rem, 13.3036rem + 28.5714vw, 34rem);
  margin-left: clamp(1rem, -2.3482rem + 14.2857vw, 8rem);
  margin-top: clamp(-1rem, 0.4783rem + -2.0408vw, 0rem);
}

.hero__button {
  grid-column: 1 / span 2;
  grid-row: 5;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;

  margin-top: 1.5rem;
  scroll-behavior: smooth;
}

.hero__button p {
  font-family: archivo, sans-serif;
  font-size: 1.25rem;
  color: var(--color-blue);
  text-transform: uppercase;
}

.hero__button svg{
  animation: pointing 2s infinite;
}

@keyframes pointing {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.hero__button:hover p{
  color: var(--color-red);
}


.hero__button:hover svg line{
  stroke: var(--color-red);
}

.hero__date {
  grid-column: 1;
  grid-row: 6;

  width: clamp(5rem, 0.229rem + 20.3562vw, 10rem);
  height: auto;

  align-self: end;
  margin-bottom: 2rem;
  margin-left: clamp(6rem, 2.1832rem + 16.285vw, 10rem);

  z-index: 4;
}

.hero__crossbow {
  grid-column: 1;
  grid-row: 5 / span 2;

  max-width: 17rem;
  rotate: -150deg;
  
  margin-bottom: clamp(0.25rem, 0.0711rem + 0.7634vw, 0.4375rem);
  margin-left: clamp(-2.5rem, -0.5458rem + -4.0712vw, -1.5rem);

  align-self: end;
}

.hero__plantin {
  grid-column: 2 / span 2;
  grid-row: 5 / span 2;

  margin-right: -2rem;
  place-self: end;

  max-width: 36.5625rem;
}

.hero__character-i {
  grid-column: 2 / span 2;
  grid-row: 6;

  width: clamp(4.5rem, 1.1603rem + 14.2494vw, 8rem);
  height: auto;

  place-self: end;
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
}

@media (max-width: 1159px) {
  .hero__pillar, .hero__city {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

@media (min-width: 1160px) {
  .hero{
    grid-template-columns: 2fr 1fr 3fr 2fr 3fr 1fr;
    grid-template-rows: repeat(5, 1fr);

  }

  .hero__plate {
    grid-column: 1 / span 6;
    grid-row: 1;
  }

  .hero__plate img{
    width: 100rem; 

    margin-top: -4rem;
    margin-left: -2rem;
  }

  .hero__flies{
    margin-top: 2rem;
  }

  .hero__title {
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;

    margin: 0 auto;
  }

  .hero__text {
    grid-column: 3 / span 2;
    grid-row: 4;

    margin-top: clamp(-5rem, -12.9091rem + 10.9091vw, -2rem);
    margin-left: clamp(-6rem, -32.3636rem + 36.3636vw, 4rem);

    max-width: clamp(31.25rem, 23.0114rem + 11.3636vw, 34.375rem);
  }

  .hero__button {
    grid-column: 3;
    grid-row: 5;

    margin-left: clamp(0rem, -21.0909rem + 29.0909vw, 8rem);
  }

  .hero__date {
    grid-column: 1 / span 2;
    grid-row: 4;

    margin-left: 0rem;
    margin-right: clamp(-2rem, 5.2727rem + -7.2727vw, 0rem);
    margin-bottom: clamp(-3rem, 0.6364rem + -3.6364vw, -2rem);

    place-self: end;
  }

  .hero__city {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3;

    align-self: end;

    max-width: 23.5rem;
  }

  .hero__crossbow {
    grid-column: 4 / span 2;
    grid-row: 5;

    width: 15rem;
    rotate: 0deg;

    margin-bottom: 0;
    margin-left: clamp(0rem, -26.3636rem + 36.3636vw, 10rem);
  }

  .hero__plantin {
    grid-column: 4 / span 3;
    grid-row: 2 / span 4;
  }

  .hero__character-i {
    grid-column: 5;
    grid-row: 5;

    margin-right: -4.5rem;
    max-width: 15rem;
  }

  .hero__pillar {
    grid-column: 6;
    grid-row: 1 / span 5;

    height: 100dvh;
    width: auto;

    margin-right: -6rem;
  }

}

@media (min-width: 1470px){
  .hero__date{
    margin-right: clamp(-2rem, -21.6rem + 21.3333vw, 4rem);
  }

  .hero__crossbow{
    margin-left: clamp(10rem, -22.6667rem + 35.5556vw, 20rem);
  }

  .hero__pillar{
    margin-right: clamp(-7rem, -2.7333rem + -3.5556vw, -6rem);
  }

  .hero__plantin{
    margin-right: clamp(-2rem, -8.5333rem + 7.1111vw, 0rem);
  }
}

@media (min-width: 1700px){
  .hero__plate {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}



/* By Beginning */

.my-beginning {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);

  overflow-x: hidden;
}

.head-story {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  margin: 0 clamp(1rem, -0.3699rem + 5.8447vw, 5rem);
  max-width: 43rem;

  grid-row: 2;

}

.my-beginning .head-story {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.head-story__heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--font-size-28-40);
  font-weight: 700;
  color: var(--color-blue);
  width: 100%;
}

.my-beginning__1528 {
  width: 6.875rem;
  height: auto;
}

.head-story__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.highlight {
  background-color: var(--color-red);
  padding: 0rem 0.4rem;
  margin: 0rem 0.1rem;
  color: var(--color-white);
  font-weight: bold;

  display: inline-block;
}

.head-story__extra-info {
  font-weight: bold;
  color: var(--color-red);
}

.translation {
  opacity: 50%;
  font-style: oblique;
}

.bold .translation {
  opacity: 100%;
}

.fancy-button {
  border: solid 2px var(--color-blue);
  background-color: var(--color-white);

  padding: 0.125rem;

  place-self: start;
}

.fancy-button:hover {
  border: solid 2px var(--color-red);
}

.fancy-button p {
  border: solid 1px var(--color-blue);

  font-family: 'Times New Roman', Times, serif;
  color: var(--color-blue);
  text-transform: uppercase;

  padding: 0.5rem 0.75rem;
}

.fancy-button:hover p {
  border: solid 1px var(--color-red);
  color: var(--color-red);
}

.letter-button p {
  padding: 0.5rem 4rem;
}

.letter-container {
  z-index: 998;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-visuals{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  height: min-content;
}

.letter-mother__image-container{
  grid-row: 1;
  grid-column: 1;

  margin: 0 1rem;
  height: min-content;

  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-mother__image-container img {
  max-width: 30.5rem;
}

.letter-visuals button {
  grid-row: 1;
  grid-column: 1;
  place-self: start;

  border: none;
  background-color: var(--color-black);
  padding: 0.5rem;
  padding-right: 0.4rem;
  padding-bottom: 0.3rem;

  margin-left: auto;
  margin-right: clamp(3rem, 0.4138rem + 11.0345vw, 4rem);
  margin-top: clamp(2.5rem, -0.0862rem + 11.0345vw, 3.5rem);

  z-index: 2;
}

.my-beginning__plate {
  overflow-x: hidden;
}

.my-beginning__plate img {
  width: 200%;
  margin-left: -50%;

  z-index: 3;
  position: relative;
}

.my-beginning__death-visuals {
  grid-row: 3;
  grid-column: 1;

  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: repeat(3, auto);

  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-beginning__grave {
  grid-column: 1 / span 2;
  grid-row: 1;

  display: grid;
}

.my-beginning__grave img {
  grid-column: 1;
  grid-row: 1;

  max-width: 36.5rem;

  margin-left: -3rem;
}

.my-beginning__leafes {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;

  max-width: 23rem;
  width: 60%;

  margin-top: -3rem;
}

.my-beginning__coin-grave {
  grid-column: 1;
  grid-row: 1 / span 2;

  max-width: 14.5rem;

  align-self: end;
  margin-left: -1rem;
}

.my-beginning__character-l {
  grid-column: 1;
  grid-row: 2;

  width: 80%;
  max-width: 12rem;

  margin-top: -2rem;
  margin-left: -2rem;
}

.my-beginning__6-years-later {
  font-size: var(--font-size-32-48);
  font-weight: bold;
  color: var(--color-red);
  opacity: 80%;

  grid-row: 3;
  grid-column: 1;

  align-self: end;

  margin-bottom: 4rem;
  margin-left: 4rem;
}

.sub-story {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 0 clamp(1rem, -0.3699rem + 5.8447vw, 5rem);
  max-width: 43rem;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--font-size-24-32);
  color: var(--color-red);
  width: 100%;
}

.my-beginning h3 {
  text-align: end;
}

.sub-story__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.story__jump-out {
  font-size: var(--font-size-20-28);
  font-weight: bold;
  text-align: center;

  color: var(--color-blue);
  opacity: 75%;
}

.story__jump-out--red {
  color: var(--color-red);
  opacity: 100%;
}

.story__jump-out--left {
  text-align: start;
}

.my-beginning__letter-container div {
  margin: 0 clamp(1rem, -0.3699rem + 5.8447vw, 5rem);
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  max-width: 41.25rem;
  max-height: max-content;

  z-index: 29;
}

.my-beginning__letter{
  margin-top: -35%;
  width: 100%;
  z-index: 30;
}

.my-beginning__letter-container p {
  font-family: "Archivo";
  font-size: var(--font-size-24-32);
  text-align: center;
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: -0.075rem;

  color: var(--color-blue);
  opacity: 80%;
}

.one-line {
  display: inline-block;
}

.my-beginning__flowers {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  justify-items: end;

  overflow: hidden;
}

.my-beginning__dancy-flower {
  grid-row: 1;
  grid-column: 1;

  place-self: end;
  margin-right: 3.5rem;
  margin-bottom: -1rem;

  max-width: 8.75rem;
}

.my-beginning__corn-flower {
  grid-row: 1;
  grid-column: 1;

  place-self: end;
  margin-right: -2rem;

  max-width: 8.75rem;
}

.my-beginning__character-y {
  grid-row: 1;
  grid-column: 1;

  max-width: 7rem;
  margin-right: -2rem;
  place-self: end;
}

@media (max-width: 799px) {
  .my-beginning__pillar {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

@media (min-width: 800px) {
  .my-beginning {
    grid-template-columns: 10% 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .my-beginning .head-story {
    margin-left: 6rem;
  }

  .my-beginning .sub-story {
    margin-left: 6rem;

    justify-self: end;
  }

  .my-beginning__plate {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .my-beginning__plate img {
    width: 150%;
    margin-left: -25%;
  }

  .my-beginning__pillar {
    grid-column: 1;
    grid-row: 1 / span 6;

    height: 100%;
    width: auto;

    justify-self: end;
    margin-right: -3rem;
    z-index: 3;
  }

  .my-beginning__death-visuals,
  .my-beginning__6-years-later {
    grid-column: 2;
    grid-row: 3;
  }

  .my-beginning__grave img {
    margin-left: -7rem;
  }

  .my-beginning__coin-grave {
    margin-left: -4rem;
  }

  .my-beginning__character-l {
    margin-left: -7rem;
  }

  .my-beginning__letter-container div {
    margin-left: 6rem;
    justify-self: center;
  }

}

@media (min-width: 1000px) {
  .my-beginning .sub-story {
    margin-left: 6rem;
    margin-top: -3%;
    margin-right: clamp(1rem, -0.3699rem + 5.8447vw, 5rem);

    justify-self: end;
  }

}

@media (min-width: 1150px) {
  .my-beginning__flowers {
    margin-top: -6rem;
  }

  .my-beginning__dancy-flower {
    max-width: 15rem;
  }

  .my-beginning__corn-flower {
    max-width: 12rem;
  }

  .my-beginning__character-y {
    max-width: 9rem;
  }
}

@media (max-width: 1239px) {

  .mother-letter-container,
  .my-beginning__coin-soldier {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

@media (min-width: 1240px) {
  .my-beginning {
    grid-template-columns: 10% 5fr 3fr;
    grid-template-rows: repeat(5, auto);
  }

  .my-beginning .head-story {
    margin-left: 6rem;
  }

  .my-beginning__1528 {
    width: 9rem;
  }

  .letter-button {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .my-beginning__plate {
    grid-column: 1 / span 3;
    grid-row: 1;
  }

  .my-beginning__plate img {
    width: 110%;
    margin-left: -5%;
  }

  .mother-letter-container {
    grid-column: 3;
    grid-row: 2 / span 2;

    display: flex;
    flex-direction: column;
    align-items: end;

    margin-right: -3rem;
  }

  .my-beginning__open-letter {
    max-width: 30rem;
    width: 90%;
    rotate: -9deg;
  }

  .my-beginning__coin-man {
    justify-self: end;
    margin-top: -3rem;
    max-width: 15.75rem;
  }

  .my-beginning__death-visuals {
    grid-column: 2;
    grid-row: 3 / span 2;

    margin-top: -3rem;
    margin-left: -1rem;
  }

  .my-beginning__character-l {
    margin-top: -6rem;
  }

  .my-beginning__coin-grave {
    margin-bottom: 4.5rem;
  }

  .my-beginning__leafes {
    margin-top: -4rem;
  }

  .my-beginning__6-years-later {
    grid-column: 3;
    grid-row: 3;

    margin-bottom: 2rem;
    margin-left: 0rem;
  }

  .my-beginning .sub-story {
    grid-column: 2 / span 2;
    grid-row: 4;

    margin-top: 10rem;
    margin-right: 2%;
    max-width: 40rem;
  }

  .my-beginning__letter-container {
    grid-column: 2 / span 2;
    grid-row: 5;

    margin-bottom: 14rem;
    margin-top: 10rem;

    display: grid;
  }

  .my-beginning__letter-container div {
    grid-column: 1;
    grid-row: 1;
  }

  .my-beginning__letter{
    margin-top: -17rem;
  }

  .my-beginning__coin-soldier {
    grid-column: 1;
    grid-row: 1;

    max-width: 13.5rem;
    place-self: center;

    margin-left: -40rem;
    margin-top: -30rem;
  }

  .my-beginning__flowers {
    grid-column: 3;
    grid-row: 5;
  }
}

@media (min-width: 1470px) {
  .my-beginning .head-story{
    margin-left: clamp(6rem, -20.1333rem + 28.4444vw, 14rem);
  }

  .my-beginning .sub-story{
    margin-right: clamp(5rem, -24.4rem + 32vw, 14rem);
  }
}



/* NORMANDY */

.normandy {
  margin-top: -2rem;
  overflow-x: hidden;
}

.normandy__head {
  display: grid;
  margin-bottom: -0.25rem;
}

.normandy__normandy {
  grid-column: 1;
  grid-row: 1;

  overflow-x: hidden;

  display: flex;
  align-items: end;
}

.normandy__normandy img {
  width: 300%;
  height: auto;

  margin-left: -65%;

}

.normandy__head-story-container {
  grid-column: 1;
  grid-row: 1;

  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: repeat(3, auto);

  padding-bottom: 35%;
}

.normandy__head-story-container .head-story {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.normandy__plate {
  grid-column: 1 / span 2;
  grid-row: 1;

  overflow-x: hidden;
}

.normandy__plate img {
  width: 115%;
  margin-left: -6%;
}

.extra-text {
  font-family: "Archivo";
  font-size: var(--font-size-32-56);
  text-transform: uppercase;
  line-height: 110%;
  letter-spacing: -0.075rem;

  color: var(--color-red);
  opacity: 80%;
}

.extra-text--normandy {
  grid-column: 1 / span 2;
  grid-row: 2;

  margin-top: -1rem;
  margin-left: 2%;
}

.normandy__coin-bookshelf {
  grid-column: 2;
  grid-row: 2;

  justify-self: end;
  margin-top: -2rem;
  margin-right: -2rem;
  margin-bottom: 2rem;

  max-width: 16rem;

  z-index: 3;
}

.normandy__reading-container {
  display: grid;
  grid-template-columns: 1fr;

  background-color: #C05F59;

  padding: 3rem 0;
}

.normandy__person-reading {
  grid-column: 1;
  grid-row: 1 / span 2;
  z-index: 2;

  width: 80%;
  max-width: 30rem;
}

.normandy__foggy-birds {
  grid-column: 1;
  grid-row: 1;

  margin-left: -4rem;
  max-width: 35rem;
}

.normandy__character-s {
  grid-column: 1;
  grid-row: 2;

  width: 25%;
  max-width: 8rem;
}

.normandy__sub-story-container {
  background-color: #C05F59;
  padding: 0 clamp(1rem, -0.3699rem + 5.8447vw, 5rem);

  display: flex;
  justify-content: center;
}

.normandy__sub-story {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-top: 3rem;
  max-width: 38rem;
}

.sub-story__section {
  display: flex;
  flex-direction: column;
}

.sub-story__section div {
  display: flex;
  flex-direction: row;
  align-items: end;

  margin-bottom: -0.4rem;
}

.normandy__year {
  font-size: 2.25rem;
  font-weight: bold;
  width: 100%;
  text-align: end;
}

.normandy__year--left {
  text-align: start;
  margin-bottom: -0.4rem;
}

.sub-story__section h3 {
  color: var(--color-black);
  margin-bottom: 0.75rem;
}

.normandy__text {
  color: var(--color-white);
}

.highlight--black {
  background-color: var(--color-black);
}

.normandy__oui {
  max-width: 16.9rem;
  place-self: center;
}

.normandy__woman {
  display: flex;
  justify-content: end;
}

.normandy__woman img {
  width: 13.4rem;

  margin-right: -15%;
  margin-top: 4rem;

  z-index: 0;
}

.bookbind {
  background-color: #C05F59;

  margin-top: -5rem;
}

.bookbind__text {
  background-color: var(--color-white);
  border: 4px solid rgba(36, 97, 166, 0.75);

  margin: 0 clamp(1rem, -0.3699rem + 5.8447vw, 5rem);
  margin-bottom: 1rem;
  padding: 1rem;

  display: grid;
  grid-column: 1fr;

  position: relative;
  place-self: start;
  width: max-content;
}

.bookbind h2 {
  font-size: var(--font-size-32-48);
  grid-row: 2;
}

.bookbind__continue {
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--font-size-24-32);
  font-weight: bold;
  text-transform: uppercase;
}

.bookbind__help {
  margin-top: 0.25rem;
  font-weight: bold;
  color: var(--color-red);
}

.bookbind__game{
  display: grid;
  width: 100%;
}

.bookbind__game canvas{
  grid-column: 1;
  grid-row: 1;

  margin: 0 clamp(1rem, -0.3699rem + 5.8447vw, 5rem);
  z-index: 10;
}

.bookbind__width{
  grid-column: 1;
  grid-row: 1;

  height: 100%;
  width: auto;
  margin: 0 clamp(1rem, -0.3699rem + 5.8447vw, 5rem);
}

.bookbind__background {
  grid-column: 1;
  grid-row: 1;

  background-color: var(--color-white);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bookbind__list {
  padding: 3rem clamp(1rem, -0.3699rem + 5.8447vw, 5rem);
  background-color: #C05F59;
}

.bookbind__list ul {
  display: flex;
  justify-content: space-between;
}

.bookbind__list li {
  width: 2rem;
}

@media (min-width: 550px) {
  .extra-text--normandy {
    margin-top: -2.5%;
    margin-left: 25%;
  }
}

@media (min-width: 700px) {
  .normandy__woman img {
    margin-right: -26%;
    margin-top: 3rem;
  }
}


@media (max-width: 899px) {
  .normandy__coin-maid {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

@media (min-width: 900px) {
  .normandy {
    display: grid;
    grid-template-columns: 4fr 6fr;
  }

  .normandy__head {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .normandy__coin-maid {
    grid-column: 1;
    grid-row: 1;

    align-self: end;
    max-width: 15rem;
    width: 50%;
    z-index: 2;
  }

  .normandy__reading-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto;

    padding-top: 6rem;
    padding-bottom: 0rem;
  }
}

@media (min-width: 1000px) {
  .normandy__normandy img {
    width: 177rem;
    height: auto;

    margin-left: -40rem;
  }

  .normandy__head-story-container {
    padding-bottom: 20rem;
  }

  .normandy__head-story-container .head-story {
    margin-top: -6rem;
  }

  .sub-story__section--thin {
    max-width: 30rem;
    width: 80%;
  }

  .normandy__woman {
    margin-top: -6rem;
  }

  .normandy__coin-maid {
    margin-bottom: -1rem;
  }
}

@media (min-width: 1470px){
  .bookbind__text{
    margin-right: 0;
    margin-left: clamp(5rem, -27.6667rem + 35.5556vw, 15rem);
  }
}


/* MY PRINTING EMPIRE */

.my-printing-empire {
  background-color: #C05F59;

  background-image: url(../image/antwerp.png);
  background-position-x: center;
  background-repeat: no-repeat;

  padding-top: 10rem;

  overflow-x: hidden;

  margin-top: -0.125rem;
}

.my-printing-empire h2,
.my-printing-empire h3 {
  color: var(--color-black);
}

.my-printing-empire p {
  color: var(--color-white);
}

.my-printing-empire__head-story-container {
  margin: 0 clamp(1rem, -2.0822rem + 13.1507vw, 10rem);

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.my-printing-empire__head-story {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 43rem;
}

.my-printing-empire__head-story svg {
  margin-left: 2rem;
}

.my-printing-empire__bookshelf {
  display: flex;
  justify-content: end;

  margin-right: -2rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.my-printing-empire__bookshelf img {
  max-width: 17rem;
}

.problems__first-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin: 0 clamp(1rem, -2.0822rem + 13.1507vw, 10rem);
  margin-bottom: 3rem;

  max-width: 43rem;
}

.problems__first-text div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.problems_extra {
  font-size: var(--font-size-28-40);
  color: var(--color-black);
  font-weight: bold;
}

.my-printing-empire__booklist-container {
  display: grid;
  max-width: clamp(21.4375rem, 3.625rem + 76vw, 25rem);
  margin: 0 auto;
}

.my-printing-empire__booklist {
  grid-column: 1;
  grid-row: 1;

  display: grid;
}

.my-printing-empire__booklist img {
  grid-column: 1;
  grid-row: 1;
}

.my-printing-empire__book {
  grid-column: 1;
  grid-row: 1;

  max-width: 9rem;
  place-self: end;

  margin-bottom: -3rem;
  margin-right: -4rem;
}

.problems__second-text {
  margin: 0 clamp(1rem, -2.0822rem + 13.1507vw, 10rem);
  margin-top: 7rem;

  max-width: 43rem;
}

.blueprint-container {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.blueprint {
  height: 38rem;
  width: 21rem;

  background-color: var(--color-blue);
  margin: 0 auto;

  border: solid 4px var(--color-white);

  box-shadow: 0 0 8px var(--color-black);
}

.blueprint p {
  font-size: 1.25rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;

  padding: 0.75rem 1rem;

  border-style: none none solid none;
  border-color: var(--color-white);
  border-width: 4px;
}

.blueprint__done{
  animation: builded 1s infinite;
}

@keyframes builded {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.blueprint__game {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.blueprint__items {
  display: flex;
  justify-content: space-between;

  margin: 1.5rem 2.5rem;
}

.blueprint__items img {
  place-self: center;
}

.blueprint__map {
  display: grid;

  margin-top: -1.5rem;
  margin-bottom: -1.25rem;
  margin-left: -0.75rem;
}

.blueprint__map div {
  grid-column: 1;
  grid-row: 1;
}

.blueprint__place-holder {
  display: grid;
}

.blueprint__place-holder img {
  grid-column: 1;
  grid-row: 1;

  place-self: center;
}

.blueprint__place-holder--childeren {
  margin-bottom: 3.75rem;
  margin-right: 4.25rem;
  margin-top: -4.25rem;
}

.blueprint__place-holder--corner {
  margin-right: 7.75rem;
  margin-top: 4.25rem;
}

.blueprint__place-holder--living {
  margin-left: 9.5rem;
  margin-top: -1.25rem;
}

.blueprint__place-holder--studio {
  margin-top: 5rem;
  margin-left: 3.25rem;
  margin-bottom: -6.25rem;
}

.blueprint__living {
  width: 5.75rem;
}

.blueprint__living--place {
  width: 4.75rem;
}

.blueprint__studio {
  width: 7.25rem;
}

.blueprint__studio--place {
  width: 6.5rem;
}

.blueprint__corner {
  width: 5.375rem;
}

.blueprint__corner--place {
  width: 4.5rem;
}

.blueprint__childeren {
  width: 9.75rem;
}

.blueprint__childeren--place {
  width: 9rem;
}

.blueprint__blinking{
  animation: blink 1.5s infinite;
}

.blueprint__living--map, .blueprint__studio--map, .blueprint__corner--map, .blueprint__childeren--map{
  z-index: 10;
}

.blueprint__living--item,
.blueprint__studio--item,
.blueprint__corner--item,
.blueprint__childeren--item {
  z-index: 9;
}

@keyframes blink {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 0%;
  }
}

.opacity-0 {
  opacity: 0%;
}

.opacity-10 {
  opacity: 10%;
}

.opacity-50 {
  opacity: 50%;
}

.blueprint__wrong{
  animation-name: wrong;
  animation-duration: 2s;
}

@keyframes wrong {
  0% {
    background-color: var(--color-red);
  }

  100% {
    background-color: var(--color-blue);
  }
}

@media (min-width: 720px) {
  .blueprint {
    height: 24rem;
    width: 41rem;
  }

  .blueprint p {
    font-size: 1.75rem;
  }

  .blueprint__game {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: auto;
    height: 19.5rem;
  }

  .blueprint__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 1.5rem 2.5rem;
  }

  .blueprint__items--2{
    margin-left: 1rem;
  }
}

.my-printing-empire__bottom {
  margin: 0 clamp(1rem, -2.0822rem + 13.1507vw, 10rem);
  margin-bottom: 8rem;
}

.neerlandais {
  max-width: 43rem;
  margin: 0 auto;
}

.neerlandais h3 {
  margin-bottom: 0.25rem;
}

.neerlandais__first-text {
  margin-bottom: 1rem;
}

.neerlandais__bottom-text-container {
  grid-column: 1 / span 2;
}

.neerlandais__bottom-text-container h4 {
  font-family: Helvetica, sans-serif;
  font-size: var(--font-size-24-32);
  font-weight: bold;
  color: var(--color-black);
  margin-bottom: 0.25rem;
}

.neerlandais__bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.neerlandais__bottom-text .bold--black {
  color: var(--color-black);
}

.plantin-logo {
  max-width: clamp(21.4375rem, 4.25rem + 73.3333vw, 26.25rem);
  margin: 4rem auto;
}

.plantin-logo p {
  background-color: rgba(35, 35, 33, 0.90);
  padding: 1rem;
  margin-top: 1rem;
}

@media (min-width: 1024px){

  .my-printing-empire__head-story{
    max-width: initial;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .my-printing-empire__head-story p{
    max-width: clamp(20rem, -2.9596rem + 35.8744vw, 30rem);
  }

  .my-printing-empire__head-story svg{
    margin-left: 0;
    align-self: center;
  }

  .problems{
    display: grid;
    grid-template-columns: 3fr 5fr;
    column-gap: clamp(5rem, -1.8879rem + 10.7623vw, 8rem);

    margin: 0 clamp(1rem, -2.0822rem + 13.1507vw, 10rem);
  }

  .problems__first-text, .my-printing-empire__booklist-container, .problems__second-text{
    margin: 0;
  }

  .problems__first-text{
    grid-column: 2;
    grid-row: 1;
  }

  .my-printing-empire__booklist-container{
    grid-column: 1;
    grid-row: 1 / span 2;

    height: min-content;
    place-self: center;
  }

  .problems__second-text{
    grid-column: 2;
    grid-row: 2;
    max-width: initial;
    margin-top: 1rem;
  }

  .blueprint{
    margin-top: 6rem;
  }

  .neerlandais{
    margin-top: 6rem;
  }
}

@media (min-width: 1280px){
  .my-printing-empire__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(4rem, 0.6316rem + 4.2105vw, 4.5rem);

    margin-top: 6rem;
    margin-bottom: 12rem;
  }

  .neerlandais, .plantin-logo{
    margin: 0;
  }

  .neerlandais{
    max-width: clamp(35rem, -18.8947rem + 67.3684vw, 43rem);
  }
}

@media (min-width: 1470px){
  .my-printing-empire__head-story-container, .problems, .my-printing-empire__bottom{
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
  }
}



/* DAUGHTERS */

.daughters {
  margin-top: -4%;

  overflow-x: hidden;
}

.daughters__first-section {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: repeat(4, auto);
}

.daughters__first-section .head-story {
  grid-column: 1 / span 2;
  grid-row: 3;

  margin-top: 3rem;
}

.daughters__first-text,
.daughters h2 {
  margin-left: 6rem;
}

.daughters__plate {
  grid-column: 1 / span 2;
  grid-row: 1;

  overflow-x: hidden;
}

.daughters__plate img {
  width: 115%;
  margin-left: -6%;
}

.daughters__character-v {
  grid-column: 1;
  grid-row: 3;

  width: 5rem;
}

.daughters__child {
  grid-column: 1;
  grid-row: 1 / span 3;

  width: 8rem;
  margin-top: 1rem;
  margin-left: -0.5rem;
}

.daughters__15-years {
  grid-column: 2;
  grid-row: 2;

  max-width: 70%;
  text-align: end;
  justify-self: end;

  margin-right: -0.25rem;
  margin-top: -1rem;

  z-index: -1;
}

.daughters__list {
  grid-column: 1 / span 2;
  grid-row: 4;

  margin: 6rem 0;

  height: 100vh;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0;
}

.daughters__item {  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin: 0 3rem;
  max-width: 23.25rem;
}

.daughters__portret {
  display: grid;
  max-height: 29.3125rem;
}

.daughters__portret img {
  grid-column: 1;
  grid-row: 1;
}

.daughters__daughter {
  grid-column: 1;
  grid-row: 1;
  max-height: 22rem;
  width: auto;
  display: block;

  place-self: center;
}

.daughters__name {
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--font-size-24-32);
  color: var(--color-red);
}

.daughters article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  overflow-x: hidden;
}

.daughters .sub-story {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.daughters__last-text {
  max-width: 75%;
}

.corrector {
  grid-column: 1 / span 2;
  grid-row: 1;

  width: 21rem;
  height: 31.75rem;

  position: relative;

  margin: 0 auto;
  margin-bottom: 3rem;
}

.corrector__paper {
  position: absolute;
  width: 31.75rem;
  rotate: 90deg;
  margin-top: 5.25rem;
  margin-left: -5.4rem;

  z-index: -1;
}

.corrector__screen {
  height: 31.75rem;
}

.corrector__screen p {
  font-family: 'Times New Roman', Times, serif;
}

.corrector__screen--1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.corrector__dare {
  color: var(--color-red);
  font-size: 1.5rem;
  line-height: 125%;
  font-weight: bold;
  width: 13rem;
  text-align: center;
}

.corrector__explane {
  color: var(--color-black);
  font-size: 1.25rem;
  line-height: 125%;
  width: 11rem;
  text-align: center;

  margin-top: 1rem;
  margin-bottom: 3rem;
}

.corrector .fancy-button {
  place-self: center;
}

.corrector__screen--2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.corrector__score {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.corrector__score svg {
  width: 2rem;
  height: 2rem;
}

.corrector__score p {
  font-size: 1.5rem;
  color: var(--color-blue);
}

.corrector__sentence {
  width: 16rem;
  font-size: 1.5rem;
  text-align: center;
}

.corrector__screen--3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.corrector__total {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.corrector__total svg {
  width: 4.5rem;
  height: 4.5rem;
}

.corrector__total p {
  font-size: 3.5rem;
  color: var(--color-blue);
}

.corrector__end {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 125%;
  text-align: center;

  width: 16rem;
  margin-bottom: 3rem;
}

.corrector__highlight {
  color: var(--color-red);
}



.daughters__character-i {
  grid-column: 1;
  grid-row: 3;

  width: 4rem;
  align-self: end;
  margin-left: -0.5rem;
}

.daughters__pillar {
  grid-column: 2;
  grid-row: 3;

  width: 7rem;
  justify-self: end;

  margin-top: -2rem;

  overflow-x: hidden;
}

@media (min-width: 720px){
  .corrector {
    width: 42rem;
    height: 28.5rem;
  
    position: relative;
  
    margin: 0 auto;
    margin-bottom: 3rem;

    display: grid;
  }

  .corrector__paper, .corrector__screen{
    grid-column: 1;
    grid-row: 1;
  }
  
  .corrector__paper {
    position: relative;
    rotate: 0deg;
    width: 42rem;
    margin-top: 0;
    margin-left: 0;
  
    z-index: -1;
  }

  .corrector__screen {
    height: 21rem;
  }

  .corrector__screen {
    height: 100%;
  }

  .corrector__dare{
    font-size: 2rem;
    width: 27rem;
  }

  .corrector__explane{
    font-size: 1.5rem;
    width: max-content;
  }

  .corrector__screen--2{
    gap: 0.5rem;
  }

  .corrector__score svg{
    width: 2.5rem;
    height: 2.5rem;
  }

  .corrector__score p{
    font-size: 1.75rem;
  }

  .corrector__sentence{
    font-size: 2rem;
    width: 23.75rem;
  }

  .corrector__screen--3{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 65% 35%;
  }

  .corrector__total{
    grid-column: 1;
    grid-row: 1 / span 2;

    flex-direction: column;
    align-items: end;
    gap: 0rem;

    margin-right: 1rem;
  }

  .corrector__total svg{
    width: 10rem;
    height: 10rem;
    margin-bottom: -1rem;
  }

  .corrector__total p{
    margin-right: 2.5rem;
  }

  .corrector__end{
    font-size: 1.875rem;
    width: 18.75rem;

    margin-top: 6rem;
    margin-left: 1rem;
  }

  .corrector .corrector__again{
    place-self: start;

    margin-left: 6rem;
    margin-top: -1rem;
  }
}

/* QUICK ENOUGH */

.quick-enough {
  margin-top: -1rem;
  overflow-x: hidden;
}

.quick-enough__story {
  display: grid;
  grid-template-columns: 1fr 28%;
  grid-template-rows: repeat(3, auto);
}

.quick-enough .head-story {
  grid-column: 1 / span 2;
  grid-row: 3;

  margin-top: 7rem;
}

.quick-enough__plate {
  grid-column: 1 / span 2;
  grid-row: 1;

  overflow-x: hidden;
}

.quick-enough__plate img {
  width: 75rem;
  margin-left: -3rem;
}

.quick-enough__knock {
  grid-column: 1;
  grid-row: 2;

  margin-left: 2%;
  margin-top: -1.25rem;

  z-index: -1;
}

.quick-enough__snail {
  grid-column: 2;
  grid-row: 2;

  margin-top: -2rem;

  display: grid;
}

.quick-enough__snail img {
  grid-column: 1;
  grid-row: 1;
}

.quick-enough__snail-img {
  max-width: 18rem;
  margin-left: 1rem;
}

.quick-enough__character-t {
  max-width: 14rem;
  margin-left: 2rem;
  margin-top: -1rem;
}

.quick-enough__but {
  font-family: "Archivo";
  color: var(--color-blue);
  font-size: var(--font-size-72-144);
  text-transform: uppercase;
  line-height: 90%;
  text-align: center;
}





.cliff {
  margin-top: 12rem;
  overflow-x: hidden;
}

.cliff__container {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.cliff__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50vh;

  color: var(--color-red);
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;

  margin: 0 clamp(1rem, -0.3699rem + 5.8447vw, 5rem);
}

.cliff__mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-black);
  opacity: 0;
  pointer-events: none;
}

.mask__active {
  opacity: 1;
}

.cliff__mask--1 {
  mask-image: radial-gradient(circle, transparent 100vh, var(--color-black) 101vh);
  -webkit-mask-image: radial-gradient(circle, transparent 100vh, var(--color-black) 101vh);
  z-index: 10;
}

.cliff__list--1 {
  gap: 65vh;
  margin-bottom: 65vh;
}

.cliff__mask--2 {
  mask-image: radial-gradient(circle, transparent 50vh, var(--color-black) 51vh);
  -webkit-mask-image: radial-gradient(circle, transparent 50vh, var(--color-black) 51vh);
  z-index: 10;
}

.cliff__mask--3 {
  mask-image: radial-gradient(circle, transparent 15vh, var(--color-black) 16vh);
  -webkit-mask-image: radial-gradient(circle, transparent 15vh, var(--color-black) 16vh);
  z-index: 10;
}

.cliff__list--3 {
  height: 50vh;
  background-color: var(--color-white);
}


.cliff__text-1 {
  font-size: clamp(2.25rem, 1.8219rem + 1.8265vw, 3.5rem);
  max-width: 37rem;
  width: 60%;
}

.cliff__text-2 {
  font-size: clamp(2rem, 1.6195rem + 1.6235vw, 3.1111rem);
  max-width: 37rem;
  width: 50%;
}

.cliff__text-3 {
  font-size: clamp(1.7778rem, 1.4395rem + 1.4431vw, 2.7654rem);
  max-width: 37rem;
  width: 40%;
}

.cliff__text-4 {
  font-size: clamp(1.5802rem, 1.2796rem + 1.2828vw, 2.4582rem);
  max-width: 37rem;
  width: 35%;
}

.cliff__text-5 {
  font-size: clamp(1.4047rem, 1.1374rem + 1.1403vw, 2.185rem);
  max-width: 37rem;
  width: 30%;
}

.cliff__text-6 {
  font-size: clamp(1.2486rem, 1.011rem + 1.0136vw, 1.9423rem);
  max-width: 37rem;
  width: 30%;
}

.cliff__text-7 {
  font-size: clamp(1.1099rem, 0.8987rem + 0.901vw, 1.7264rem);
  max-width: 37rem;
  width: 28%;
}

.cliff__text-8 {
  font-size: clamp(0.9865rem, 0.7988rem + 0.8008vw, 1.5346rem);
  max-width: 37rem;
  width: 20%;
}

.cliff__text-9 {
  font-size: clamp(0.8769rem, 0.7101rem + 0.7119vw, 1.3641rem);
  max-width: 37rem;
  width: 25%;
}

.cliff__text-10 {
  font-size: clamp(0.7795rem, 0.6312rem + 0.6328vw, 1.2125rem);
  max-width: 37rem;
  width: 7%;
}

.cliff__highlight {
  color: var(--color-black);
  font-family: 'Times New Roman', Times, serif;
}



/* CTA */

.cta__container {
  position: relative;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-black);

  z-index: 11;
  overflow-x: hidden;
}

.cta__text {
  max-width: 28rem;
  margin: 0 clamp(1rem, -1.8682rem + 12.2374vw, 9.375rem);
}

.cta h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(2.875rem, 2.4897rem + 1.6438vw, 4rem);
  text-transform: uppercase;
  color: var(--color-white);
}

.cta__sub {
  font-size: clamp(1.4375rem, 1.2449rem + 0.8219vw, 2rem);
  font-weight: bold;
  color: var(--color-red);
  margin-top: 0.25rem;
}

.cta__highlight {
  font-family: 'Times New Roman', Times, serif;
  color: var(--color-white);
}

.cta__body {
  color: var(--color-white);
  margin-top: 1rem;
}

.cta__buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.fancy-link {
  border: solid 2px var(--color-white);

  padding: 0.125rem;

  place-self: start;
}

.fancy-link:hover {
  border: solid 2px var(--color-red);
}

.fancy-link p {
  border: solid 1px var(--color-white);

  font-family: 'Times New Roman', Times, serif;
  color: var(--color-white);
  text-transform: uppercase;
  font-size: var(--font-size-16-20);

  padding: 0.5rem 0.75rem;
}

.fancy-link:hover p {
  border: solid 1px var(--color-red);
  color: var(--color-red);
}

.fancy-link--red {
  border: solid 2px var(--color-red);
}

.fancy-link--red:hover {
  border: solid 2px var(--color-white);
}

.fancy-link--red p {
  border: solid 1px var(--color-red);
  color: var(--color-red);
}

.fancy-link--red:hover p {
  border: solid 1px var(--color-white);
  color: var(--color-white);
}

@media (min-width: 1300px){
  .cta__text{
    max-width: 30rem;
  }
}



/* NEXT STORIES */

.next-stories {
  overflow-x: hidden;
}

.next-stories h2 {
  color: var(--color-red);
  margin: 0 clamp(1rem, -0.3699rem + 5.8447vw, 5rem);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.story-list {
  margin: 0 clamp(1rem, -0.3699rem + 5.8447vw, 5rem);

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.story__text {
  background-color: var(--color-black);

  padding: 1rem;

  display: flex;
  gap: 1rem;
  align-items: center;
}

.story__text p {
  color: var(--color-white);
  opacity: 85%;
}

.chilling-woman {
  display: flex;
  justify-content: end;

  margin-top: 4rem;
}

.chilling-woman img {
  max-width: 22rem;
  width: 75%;
}

.next-stories__pillar {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 719px) {
  .story__visual {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

@media (min-width: 720px){
  .story__text svg {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .next-stories{
    width: 100vw;
    overflow-x: hidden;
  }

  .next-stories h2{
    width: max-content;
  }

  .story-list{
    flex-direction: row;
    overflow-x: scroll;
    gap: 4rem;
    margin-right: 0;
    margin-top: 5rem;
  }

  .story-list li{
    box-sizing: border-box;
    display: block;
  }

  .story__visual{
    display: grid;

    height: 16.875rem;
  }

  .story__visual img, .story__visual div{
    grid-column: 1;
    grid-row: 1;
  }

  .story__visual div{
    background: rgba(35, 35, 33, 0.50);
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .story__visual p{
    max-width: 8rem;
    color: var(--color-white);
    opacity: 0.9;

    text-align: center;

    font-weight: bold;
    font-size: 1rem;
  }

  .story__text{
    aspect-ratio: 7/3;
  }

  .story__text p{
    font-size: clamp(1.25rem, 1.01rem + 0.5333vw, 1.5rem);
  }
}



/* FOOTER */

.footer__info{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__times{
  display: flex;
  justify-content: space-between;
}

.footer__tickets {
  font-family: Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-white);

  background-color: var(--color-black);
  padding: 0.75rem 1rem;
  padding-top: 1rem;

  place-self: start;
}

.footer__tickets:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.footer__socials{
  display: flex;
  gap: 2.5rem;
  margin: 0 auto;
}

.footer__socials a:hover svg path{
  fill: var(--color-white);
}

@media (min-width: 550px){
  .footer__info{
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__times{
    flex-direction: column;
    gap: 1rem;
  }

  .footer__details{
    max-width: 13rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .footer__details p{
    text-align: end;
  }
}

@media (min-width: 840px) {
  .footer{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__info {
    flex-direction: row;
    justify-content: baseline;
    gap: 4rem;
  }

  .footer__details p {
    text-align: start;
  }

  .footer__socials{
    margin-left: auto;
    margin-right: 0;
  }
}