:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  font-size: 2rem;
  background-color: beige;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pack{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.pack img{
  grid-column: 1;
  grid-row: 1;
}